@use "../../../styles/mixins/mixins.scss" as mixins;

.right-sidebar {
  padding: 105px 20px 20px 20px;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  z-index: 100;

  &.hidden {
    transform: translateX(100%);
  }

  .right-sidebar-toggle-button {
    @include mixins.flexCenter;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    top: 85px;
    left: -42px;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease-in-out;

    svg {
      transition: transform 0.3s ease-in-out;
    }
  }

  .right-sidebar-toggle-button:hover {
    @include mixins.mainColorBoxShadow;
  }
  .right-sidebar-toggle-button:active {
    box-shadow: none;
  }
  .right-sidebar-toggle-button:focus {
    outline: none;
  }

  h3 {
    margin-top: 20px;
  }

  .neon-divider {
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 0 6px var(--primary-color), 0 0 12px var(--primary-color),
      0 0 12px var(--primary-color);
    border-radius: 1px;
    margin: 10px 0 25px 0;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .theme-toggle-switch {
    margin-top: 5px;
  }
}

.right-sidebar.visible .right-sidebar-toggle-button svg {
  transform: rotate(-180deg);
}
