@use "../../styles/mixins/mixins" as mixins;

.not-found-page-component {
  @include mixins.absoluteCenter;
  text-align: center;
  .not-found-page-notification {
    background-color: var(--background-secondary-color);
    border-radius: 14px;
    padding: 20px;
  }
  .not-found-page-notification-wrapper {
    background-color: var(--background-primary-color);
    padding: 20px 60px;
    border-radius: 12px;
    a {
      color: #fff;
      text-align: center;
      display: block;
      margin-top: 20px;
    }
    span {
      display: block;
      text-align: center;
      margin: 15px 0;
    }
  }
}
