@import '../../styles/mixins/mixins';

// .not-found-page {
//   @include absoluteCenter;
  
// }

.not-found-page-component {
  @include absoluteCenter;
  text-align: center;
  .not-found-page-notification {
    background-color: #3C3C3C;
    border-radius: 14px;
    padding: 20px;
  }
  .not-found-page-notification-wrapper {
    background-color: #262626;
    padding: 20px 60px;
    border-radius: 12px;
    a {
      color: #fff;
      text-align: center;
      display: block;
      margin-top: 20px;
    }
    span {
      display: block;
      text-align: center;
      margin: 15px 0;
    }
  }
}
