:root {
  --background-primary-color: #262626;
  --background-secondary-color: #3c3c3c;
  --background-third-color: #333;
  // --primary-color: #DB5D0F;
  --secondary-color: #262626;
  --primary-active-color: red;
  // --text-color: #333;
  // #171717
  // #2F2F2F
  --text-color: #fff;
  --link-color: #3b6ba3;
  --border-color: #444;

  --font-size-regular: 16px;
  --font-size-large: 24px;
  --font-size-small: 12px;
}

// [data-theme="dark"] {
//   --background-primary-color: #262626;
//   --background-secondary-color: #3c3c3c;
//   --background-third-color: #333;
//   --primary-active-color: red;
//   --text-color: #fff;
//   --link-color: #1a73e8;
//   --border-color: #444;
// }

// [data-theme="light"] {
//   --primary-active-color: red;
//   --background-primary-color: #fff;
//   --background-secondary-color: black;
//   --background-third-color: #fff;
//   --text-color: #333;
//   --link-color: #0070f3;
//   --border-color: #ddd;
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: var(--background-third-color);
  color: var(--text-color);
  letter-spacing: 0.00938em;
  transition: background-color 0.5s ease-in-out;
}

#root {
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

a {
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button:hover {
  cursor: pointer;
}

.button {
  border-radius: 8px;
  font-size: 14px;
}

.app-content {
  display: flex;
  height: 100%;
  padding-top: 60px;
  transition: all 0.5s ease-in-out;
}
