@import "../../../styles/mixins/mixins";

.login-component {
  @include absoluteCenter;

  p {
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 10px 0 20px;
  }
  button {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  button:hover {
    // box-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color);
    @include mainColorBoxShadow();
  }
  button:active {
    transform: scale(0.98);
  }
  button:focus {
    outline: none;
  }
  button.ghost {
    transition: all 0.09s ease-in-out;
    background-color: transparent;
    border-color: var(--on-primary-color);
    border-width: 2px;
  }
  button.ghost:hover {
    scale: 1.01;
  }
  form {
    @include flexCenter;
    background-color: var(--background-primary-color);
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
  }
  input {
    border-radius: 8px;
    border: none;
    padding: 12px 15px;
    margin: 10px 0;
    width: 100%;
  }
  input:hover {
    outline: none;
    border: none;
    border: 0px solid #000;
    box-shadow: 0 0 5px var(--primary-color), 0 0 5px var(--primary-color);
  }
  input:focus {
    outline: none;
    border: none;
    border: 0px solid #000;
    box-shadow: 0 0 7px var(--primary-color), 0 0 7px var(--primary-color);
  }

  .login-component-container {
    margin: 0 auto;
    background-color: var(--background-primary-color);
    border-radius: 14px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  .login-component-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  .login-component-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  .login-component-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  .overlay {
    background: linear-gradient(
      315deg,
      var(--gradient-light, #b34700) 0%,
      var(--gradient-main, #db5d0f) 30%,
      var(--gradient-main, #db5d0f) 40%,
      var(--gradient-main, #db5d0f) 60%,
      var(--gradient-dark, #ffd699) 100%
    );
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .login-component-container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  .overlay-panel {
    @include flexCenter;
    position: absolute;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .overlay-left {
    transform: translateX(-20%);
  }
  .login-component-container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  .login-component-container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }

  // Login Notification
  .login-notification {
    background-color: var(--background-secondary-color);
    border-radius: 16px;
    padding: 8px;
    color: #fff;
  }
  .login-notification-buttons {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
  }
  .login-notification-wrapper {
    background-color: var(--background-primary-color);
    padding: 20px 60px;
    border-radius: 12px;
    a.button {
      display: block;
      text-decoration: none;
      border: 2px solid #fff;
      color: #fff;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: transparent;
      transition: all 0.1s ease-in-out;
    }
    a.button {
      &:hover {
        border: 2px solid var(--primary-color);
        @include mainColorBoxShadow();
      }
      &:active {
        transform: scale(0.98);
      }
    }
    span {
      display: block;
      text-align: center;
      margin: 15px 0;
    }
  }
}
