@import "../../../../styles/mixins/mixins";

.color-options {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.color-switch-wrapper {
  height: 41px;
  width: 41px;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-switch-wrapper:has(.color-switch:hover) {
  @include mainColorBoxShadow();
}

.color-switch {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }

  &.custom-picker {
    display: flex;
    align-items: center;
    justify-content: center;

    input[type="color"] {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: none;
      cursor: pointer;
    }

    .edit-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      pointer-events: none;
    }

    .edit-icon svg {
      width: 25px;
      height: 25px;
    }
  }
}
